<div
  class="group bg-white/5 border border-white/10 rounded-xl p-3 hover:border-primary/50 transition-all cursor-pointer"
>
  <div class="aspect-[2.5/3.5] rounded-lg bg-slate-800 overflow-hidden mb-3 relative">
    <img
      alt="{{ product.name }}"
      class="w-full h-full object-cover group-hover:scale-105 transition-transform"
      data-alt="{{ product.name }}"
      [src]="product.imageUrl"
    />
  </div>
  <div class="space-y-1">
    <div class="flex items-center gap-1.5 text-[10px] text-slate-400 font-bold uppercase">
      <span class="material-symbols-outlined text-[12px]">Expansión:</span>
      {{ product.category }}
    </div>
    <h4 class="font-bold text-sm truncate">{{ product.name }}</h4>
    <div class="flex items-center justify-between mt-2">
      <span class="text-primary font-black">${{ product.price }}</span>
      <span class="text-[10px] bg-white/10 px-1.5 rounded font-medium text-slate-300">{{
        product.cardStatus
      }}</span>
    </div>
  </div>
</div>
