<div class="bg-surface-container p-6 border border-white/5">
  <h3
    class="text-xs font-black uppercase tracking-[0.2em] text-white mb-6 border-b border-white/10 pb-4"
  >
    Tech Specs
  </h3>
  <div class="space-y-4">
    <div class="flex justify-between">
      <span class="text-[10px] font-extrabold uppercase text-slate-500">Players</span>
      <span class="text-[10px] font-black uppercase text-white">1 - 4 Units</span>
    </div>
    <div class="flex justify-between">
      <span class="text-[10px] font-extrabold uppercase text-slate-500">Time</span>
      <span class="text-[10px] font-black uppercase text-white">90 - 120 MINS</span>
    </div>
    <div class="flex justify-between">
      <span class="text-[10px] font-extrabold uppercase text-slate-500">Weight</span>
      <span class="text-[10px] font-black uppercase text-white">3.4 / 5.0</span>
    </div>
    <div class="flex justify-between">
      <span class="text-[10px] font-extrabold uppercase text-slate-500">Language</span>
      <span class="text-[10px] font-black uppercase text-white">English (Global)</span>
    </div>
  </div>
</div>
